<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <% if devise_controller? && resource_name == :usuario %>

  <%= f.input :apellido_paterno, :label => "Apellido Paterno" %>
  <%= error_span(@usuario[:apellido_paterno]) %>

  <%= f.input :apellido_materno, :label => "Apellido Materno" %>
  <%= error_span(@usuario[:apellido_materno]) %>

  <%= f.input :primer_nombre, :label => "Primer Nombre" %>
  <%= error_span(@usuario[:primer_nombre]) %>

  <%= f.input :segundo_nombre, :label => "Segundo Nombre" %>
  <%= error_span(@usuario[:segundo_nombre]) %>
  <% end %>
  
  <% if devise_controller? && resource_name == :empleado %>
    <%= f.input :username, :label => "Usuario" %>
    <%= error_span(@empleado[:username]) %>
    <%= f.input :apellidos, :label => "Apellidos" %>
    <%= error_span(@empleado[:apellidos]) %>
    <%= f.input :nombres, :label => "Nombres" %>
    <%= error_span(@empleado[:nombres]) %>
    
    <div class="form-group"> 
    <%= f.label :area_id, "Und. Negocio" %>
    <%= f.collection_select :area_id, Area.all, :id, :name , {prompt: "Seleccione Unidad de Negocio"}, {class: "form-control"} %>
    <%= error_span(@empleado[:area_id]) %>
  
    </div>
    
    <div class="form-group"> 
    <%= f.label :role_id, "Role" %>
    <%= f.collection_select :role_id, Role.all, :id, :name , {prompt: "Seleccione Rol"}, {class: "form-control"} %>
    <%= error_span(@empleado[:role_id]) %>
    </div>
    
  <% end %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions"> 
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
