<p id="notice"><%= notice %></p>

<%= link_to 'Regresar a Mis Incidencias', tickets_path %>
<p>
  <strong>Número de código:</strong>
  <%= @ticket.codigo %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @ticket.asunto %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @ticket.prioridad %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ticket.usuario.apellido_paterno %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @ticket.empleado.nombres %> <%#= @ticket.empleado.apellidos %> 
</p>

<p>
  <strong>Categoria:</strong>
  <%= @ticket.categoria.name %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @ticket.subcategoria.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ticket.area.name %>
</p>

<h3>Historial</h3>
<div class="row">
    <% @comentarios.each do |comentario| %>
      <%#= debug comentario %>
      <% if comentario.empleado_id == 0 %>
      <div class="text-left r_usuario">
        <img src="/img/usuario_mujer.png" class="img-thumbnail">
        <%= comentario.primer_nombre %> dijo el: <%= comentario.created_at.strftime('%d-%m-%Y') %> 
      <% else %>
      <div class="text-right r_empleado">
        <img src="/img/empledo_hombre.png" class="img-thumbnail pull-right">
        <%= comentario.apellidos %> dijo el: <%= comentario.created_at.strftime('%d-%m-%Y') %> 
      <% end %>
      <%= comentario.comentario %>
      </div> 
    <% end %>
    
</div>

<h2>Responder</h2>
<%= simple_form_for(@comentario) do |f| %>
  <%= f.error_notification %>
  
  <div class="input-group">
    <%= f.text_field :comentario, :class => "form-control", :wrapper  => false %>
    <span class="input-group-btn">
      <%= f.submit 'Enviar', :class => 'btn btn-default' %>   
    </span>
  </div>
  <%= f.input :ticket_id, :as => :hidden, :input_html => { :value => @ticket.id } %>
  <%= f.input :usuario_id, :as => :hidden, :input_html => { :value => current_usuario.id } %>
  <%= f.input :empleado_id, :as => :hidden, :input_html => { :value => 0 } %>
  <%= f.input :ruta, :as => :hidden, :input_html => { :value => "show" } %>

  
<% end %>
