<p id="notice"><%= notice %></p>

<!-- COPIADO DEL SHOW DE TICKETS-->

<p>
  <strong>Número de código:</strong>
  <%= @ticket.codigo %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @ticket.asunto %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @ticket.prioridad %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ticket.usuario %>
</p>

<!--
<p>
  <strong>Empleado:</strong>
  <%#= @ticket.empleado.nombres %> <%#= @ticket.empleado.apellidos %> 
</p>-->

<p>
  <strong>Categoria:</strong>
  <%= @ticket.categoria.name %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @ticket.subcategoria.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ticket.area.name %>
</p>

    <% @comentarios.each do |comentario| %>
    <%= debug(comentario) %>
      <tr>
        <td><%= comentario.comentario %></td>
        <td></td>
        <td></td>
        
      </tr>
    <% end %>


<%#= debug @comentario %> |
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<h2>Responder</h2>
<%= simple_form_for(@comentario) do |f| %>
  <%= f.error_notification %>
  
  <div class="input-group">
    <%= f.text_field :comentario, :class => "form-control", :wrapper  => false %>
    <span class="input-group-btn">
      <%= f.submit 'Enviar', :class => 'btn btn-default' %>   
    </span>
  </div>
  <%= f.input :ticket_id, :as => :hidden, :input_html => { :value => @ticket.id } %>
  <%= f.input :usuario_id, :as => :hidden, :input_html => { :value => 0 } %>
  <%= f.input :empleado_id, :as => :hidden, :input_html => { :value => 1 } %>
  <%= f.input :ruta, :as => :hidden, :input_html => { :value => "ver" } %>
  
<% end %>
